@import "../styles/variables.scss";

.wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $black-background;
    color: $white-background;
}

.content {
    height: 100%;
    padding: 0;
    margin: 0;
}

mat-toolbar {
    position: relative;
    z-index: 5;
    background-color: inherit;
}

mat-sidenav-container {
    height: calc(100vh - 64px);
    background-color: inherit;
}

mat-sidenav {
    background-color: inherit;
}

html, body {
    height: 100%;
    margin: 0;
}
  
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

// mat-toolbar {
//     flex: 0 0 auto;
// }

mat-sidenav-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

mat-sidenav-content {
    flex: 1 1 auto;
    overflow: auto;
    padding: 0;
    margin: 0;
    margin-top: 260px;
}

.menu-content {
    margin-top: 40px;
}

.menu-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .menu-icon.menu-webSocketError {
        top: 30px;
    }
}

.webSocketError {
    position: sticky;
    width: 100%;
    height: auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: red !important;
    color: blue;
}
  
.webSocketErrorMessages {
    box-sizing: content-box;
    // padding: 0 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  