<div class="background">
  <div class="text">
    <h2 class="ft-3-5">Live Transport MTL.</h2>
    <h5 class="ft-1-5">Live and accurate data on Montreal transit.</h5>
    <p class="ft-1 text-info">
      <span>Over </span>
      <span>14 000 </span>
      <span>buses, </span>
      <span>9000 stops, </span>
      <span>1200 </span>
      <span>trips </span>
      <span>and </span>
      <span>900 </span>
      <span>lines.</span></p>
    <div class="buttons">
      <p class="text-pre-buttons">Try it out now : </p>
      <a routerLink="/trip" routerLinkActive="router-link-active" ariaCurrentWhenActive="page"><button>Schedule a trip</button></a>
      <a routerLink="/map" routerLinkActive="router-link-active" ariaCurrentWhenActive="page"><button>Bus near me</button></a>
      <a routerLink="/status" routerLinkActive="router-link-active" ariaCurrentWhenActive="page"><button>Service Status</button></a>
      <a routerLink="/home" routerLinkActive="router-link-active" ariaCurrentWhenActive="page"><button>More info about this site</button></a>
    </div>
    <p>More city to be added soon, keep an eye out <a href="https://github.com/Francklin9999/BusTracker" target="_blank" rel="noopener noreferrer">here</a>.</p>
  </div>
</div>



