<div class="content">

    <div class="left-section">
      <h3 class="title">Plan a trip.<br />Decide where you want to go.</h3>
      <div class="map-container">
        <div class="map" #map></div>
      </div>
    </div>
  
    <div class="right-section">
      <div class="selection-buttons">
        <button class="buttons" [ngClass]="{'active': selectedOption === 'whereToGo'}" (click)="showOption('whereToGo')">Where do you want to go?</button>
        <button class="buttons" [ngClass]="{'active': selectedOption === 'busNearYou'}" (click)="showOption('busNearYou')">Bus near you</button>
      </div>
      <div class="directions no-invert" *ngIf="selectedOption === 'whereToGo'">
        <h4 class="right-section-text">Where do you want to go?</h4>
        <input class="directions-inputs" #departureLocation type="text" placeholder="Enter departure location" />
        <input class="directions-inputs" #arrivalLocation type="text" placeholder="Enter arrival location" />
        <input class="directions-inputs" type="date" #departureDate placeholder="Select departure date" />
        <input class="directions-inputs" type="time" #departureTime placeholder="Select departure time" />    
        <button (click)="handleClick()">Search</button>
        <div *ngIf="steps.length > 0">
          <h4>Steps</h4>
          <div *ngFor="let step of steps">
            <p *ngIf="step.instructions">Instructions: {{ step.instructions }}</p>
            <p *ngIf="step.transitLine">Transit Line: {{ step.transitLine }}</p>
            <p *ngIf="step.departureTime">Departure Time: {{ step.departureTime }}</p>
          </div>
          <div *ngIf="steps.length > 0">
            <p *ngIf="steps[steps.length - 1].arrivalTime">Arrival Time: {{ steps[steps.length - 1].arrivalTime }}</p>
          </div>
        </div>
        
      </div>
  
      <div class="bus-section no-invert" *ngIf="selectedOption === 'busNearYou'">
        <h4 class="right-section-text">Bus near you</h4>
        <div *ngIf="tripData" class="buses-content">
          <div class="buses" *ngFor="let stopId of getStopIds()">
            <h5 class="ft-1">
              Stop: {{ getBusStopName(stopId) }}
            </h5>
            <button (click)="toggleDropdown(stopId)">
              {{ selectedKey === stopId ? 'Hide' : 'Details' }}
            </button>
            <div *ngIf="selectedKey === stopId" class="bus-datas">
              <div *ngFor="let routeId of getRouteIds(stopId)" class="container bus-data gap-3">
                <h4>Line: {{ routeId }}</h4>
                <div *ngFor="let direction of getDirections(routeId)">
                  <h5>Direction: {{ direction }}</h5>
                  <div *ngFor="let buses of groupedTripData[routeId][direction].data">
                    <div class="bus-data-container">
                      <!-- <p>{{ buses.id }}</p> -->
                      <p>Arrive in: {{ buses.arrivalTime }} minutes &nbsp;</p>
                      <p>Status: {{ buses.relationship }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="noTripData">
          <h4>Select a stop to see nearby buses.</h4>
          <p>If you don't see any stops, zoom in.</p>
        </div>
  
      </div>
    </div>
  
</div>
  