<div class="content">

    <div class="left-section">
      <div class="left-section-content">
        <h3>Real Time Position of Montreal Transit. </h3>
        <p>Click on the map to see bus near a location or click <a routerLink="/trip">here</a> to schedule a trip.</p>
      </div> 
      <div class="map-container">
        <div class="map" #map></div>
      </div>
    </div>

      
    <div class="right-section">
      <h3>Bus near you</h3>
      <div class="location" *ngIf="!isLocation">
        <p>Click on the map to get bus near a location.</p>
      </div>
      <div class="location" *ngIf="isLocation">
        <p>lat: {{location.lat}}</p>
        <p>lng: {{location.lng}}</p>
      </div>
      <div *ngIf="noTripData">
        <p>No bus near this location. <br /> Select another location to se nearby buses.</p>
      </div>
      <div *ngFor="let key of getKeys(tripData)" class="bus-content">
        <h5 class="ft-1">
          Stop: {{ getBusStopName(key) }}
        </h5>
        <button (click)="toggleDropdown(key)">
          {{ selectedKey === key ? 'Hide' : 'Details' }}
        </button>
        <div *ngIf="selectedKey === key" class="bus-data">
          <div *ngFor="let trip of tripData[key]">
            <p><strong>Line:</strong> {{ trip.routeId }}</p>
            <div class="time-info">
              <p><strong>Arrive in:</strong> {{ trip.arrival.time }} min</p>
              <div *ngIf="isRealTimeBus(trip.routeId)">
                <p>LIVE</p>
              </div>
            </div>
            <p><strong>Schedule Relationship:</strong> {{ capitalizeFirstLetter(trip.scheduleRelationship.toLowerCase()) }}</p>
            <p><strong>Direction:</strong> {{ trip.direction }}</p>
          </div>
        </div>
      </div>
      
    </div>
</div>
