<div class="container-fluid content">
    <div class="row">
        <div class="header">
            <h2>Welcome to Live Bus MTL.</h2>
            <p>Version 1.0.0</p>
        </div>
    </div>
    <div class="row title">
        <div>
            <h1 class="title-text ft-3-5">Montreal</h1>
        </div>
    </div>
    <div class="container">
        <div class="row description description-1">
            <div>
                <h5>What does this service do?</h5>
                <p>
                    This site allows you to schedule your trips easily and efficiently. 
                    Plan your journey, track vehicle positions in real-time, and ensure you reach your 
                    destination on time with our streamlined trip scheduling features.
                </p>
            </div>
            <div>
                <h5>You may ask what makes us different then others similar services?</h5>
                <p>
                    Simple, our speed!
                    Our benchmarks show that the data from STM to your device is processed 
                    in milliseconds, ensuring that you receive the most up-to-date information 
                    faster than ever before.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col description description-2">
                <h5>Want to help?</h5>
                <p>
                    This project is open source, and contributions of any kind are welcome to help improve the service. Whether you're a developer, designer, or just passionate about bettering transportation, your input is valued. The source code is available on GitHub, and you can explore or contribute to the project 
                    <a href="https://github.com/Francklin9999/BusTracker" target="_blank" rel="noopener noreferrer">here</a>.
                </p>
                <p>
                    Created by Franck Fongang, this project is entirely free for anyone to use, modify, and share. It's built with a focus on accessibility and community collaboration, making it a tool by the people, for the people.
                </p>
            </div>
            <div class="col description description-3">
                <h5>Credit</h5>
                <p>
                    This project is made possible with the support of the Société de transport de Montréal (STM). All intellectual property rights belong to STM, and the data used in this project is provided by them. You can access the data and other resources 
                    <a href="https://www.stm.info/en/about/developers" target="_blank" rel="noopener noreferrer">here</a>.
                </p>
                <p>
                    We are committed to ensuring that this platform remains a reliable, community-driven resource for all. Whether you're using it to plan your daily commute or to contribute to its development, we appreciate your involvement and support.
                </p>
            </div>
        </div>
        
    </div>    
</div>

