@import "../../styles/variables.scss";

.content {
    background-color: inherit;
}

.header {
    width: 100%;
    padding: 5px 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    background-image: url('../../assets/images/busStatus.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: end;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    background-color: $dark-gray;
}

h5 {
    margin: 12px 0px;
    color: $black-background;
}

.description-container-1 {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
}

.description-container-2 {
    width: 100%;
    margin: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
}

@media screen and (min-width: 768px) {
    .description-container-2 {
        flex-direction: row;
    }
}

.description-1 {
    background-color: $dark-gray;
}

.description-2 {
    background-color: green;
}

.description-3 {
    background-color: blue;
}