<div class="settings-overlay" *ngIf="isSettingsVisible">
    <div class="container">
        <div class="row">
            <h3>Night Mode</h3>
            <button (click)="toggleMode(true)">Day</button>
            <button (click)="toggleMode(false)">Night</button>
        </div>
        <div class="row">
            <h3>Found any issue/bug?</h3>
            <p>If you're a developer, feel free to open a pull request on my GitHub 
                <a href="https://github.com/Francklin9999/BusTracker" target="_blank" rel="noopener noreferrer">here</a>.
            </p>
            <p>
                If you're a user, you can contact me via email at franckfongang99&#64;gmail.com.
            </p>
        </div>
        <button class="close-btn" (click)="closeSettings()">Close</button>
    </div>
</div>

